<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <script src="https://kit.fontawesome.com/b5624e6916.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="box <%= permission %>" id="header">
        <h1><i class="fas fa-calendar-alt"></i> <%= date %></h1>
    </div>

    <div class="box <%= permission %>" id="wishlistBox">
        <% for(let i = 0; i < wishlist.length; i++) { %>
            <form action="/delete" method="post">
                <div class="wish <%= permission %>">
                    <div class="wish-text">
                        <p class="wishDetails" ><%= wishlist[i].wish %></p>
                    </div>
                    <div class="wish-image <%= wishlist[i].imageDescription %>">
                        <img src="<%= wishlist[i].image %>" alt="<%= wishlist[i].imageDescription %>">
                    </div>
                    <% if(permission == "admin"){ %>
                        <button class="wishDetails" type="submit" value="<%= wishlist[i].id %>" name="checkbox"><i class="fas fa-eraser"></i></button>
                    <% } %>
                </div>
            </form>
        <% } %>
    </div>

    <div class="box <%= permission %>" id="newWishBox">
        <% if(permission == "admin") { %>
            <form action="/" method="post" enctype="multipart/form-data">
                <div class="newWishInput">
                    <input type="text" name="newWish" id="newWish" placeholder="Add New Wish" onkeyup="validate()">
                    <input type="text" name="description" placeholder="Add Wish Image Name">
                </div>
                <input type="file" name="userFile">
                <button id="wishSubmit" type="submit" disabled><i class="fas fa-paper-plane"></i></button>
            </form>
            <span id="errorMessage"></span>
        <% } %>
    </div>

    <div id="references">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/random">Random</a>
            </li>
        </ul>
    </div>

    <footer>
        <span>Roald Välja &#169; 2021</span>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>